*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
}

h1,h2{
    font-family: 'Lato', sans-serif;
    
}

p{
    font-family: 'Roboto', sans-serif;
  
}

#about p{
    color:#fefefe;
    font-size:1.1rem;
}

#about p span{
    font-weight:bold;
    color:#fefefe;
}

#about h1{

    font-size: 10rem;
    line-height: 1.5;
    padding-left: 15px;
    letter-spacing: 15px;
    margin-bottom: 20px;
}

#content{
    flex:1;
    padding-top: 100px;
    
}



#explore{
    
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#explore img{
    width: 450px;
    height: 300px;
    color:#000;
    border-radius: 10px;
    

}

#explore a{
    margin-top: 20px;
    
}

.fa-arrow-down{
    color:#fff;
}

h3 span{
    font-weight: 800;
    color: #fff;
}

#about h2{
    
    font-size:1.7rem;
    background: #fff;
    color:#000;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}



#about h3{
    
    font-size:2rem;
    color:#fff;
    line-height: 2;
    text-align: center;
    text-shadow:#fff;
}

#about p{
    line-height: 1.5;
}

.active{
    border-bottom: 2px solid #fff;
}

nav{
    
    font-size: 1.1rem;
    background: linear-gradient(45deg,rgb(18, 18, 31),rgb(5, 5, 87));
    /*background:linear-gradient(rgb(0, 9, 26),rgb(10, 0, 150));*/
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-wrap{
    background-color: rgb(18, 21, 44);
    padding-bottom: 75px;
}

#skills{
    background:url("img/bg-skills2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    padding-top:50px;
    padding-bottom: 75px;
}

#skills h4{
    padding-top:15px;
}

.progress{
    width:75%;
}


.container{
    display: flex;
}

.logo {
    display: inline-block;
    padding-left: 35px;

    
}

.logo a{
    color:#fff;
    text-decoration: none;
}

#skills h1{
    font-size:3rem;
    padding:20px 0;

}

#j{
    
    font-size:3rem;
}





.nav-links{
    list-style: none;
    display: flex;
    gap:15px;
    padding:0 20px;
    
}



.nav-items a{
    
    text-decoration: none;
    color:#fff;
    display: inline-block;
    padding:10px 15px;

    


}

.nav-items a:hover{
    border-bottom: 2px solid white;
    color:rgb(136, 148, 250);
    
}

#bg-wrap{
    background: rgb(5, 6, 23);
    
}

#projects{
    padding-top: 75px;
    margin-top:50px;
    width: 90%;
    margin:0 auto;
    
    background:url("img/project-bg2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section{
    padding:50px 10px;
}

#projects h3{
    font-size: 2rem;
    letter-spacing: 5px;
}

section img{
    width: 100vw;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

#projects h1{
    text-align: center;
    padding: 10px;
    border-bottom:2px solid #fff;
    
}

.col{
    flex:1;

}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
}

#f1 h3{
    color:rgb(255, 0, 0);
    text-shadow: 1px 2px rgb(255, 0, 0);
}

section h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

#french h3{
    color:rgb(0, 157, 255);
    text-shadow: 1px 2px rgb(0, 157, 255);
}

#nba h3{
    color: rgb(13, 0, 255);
    text-shadow: 1px 2px rgb(13, 0, 255);
    
}

#ttt h3{
    color:rgb(143, 143, 143);
    text-shadow: 1px 2px rgb(143, 143, 143);
}

#piroll h3{
    color:rgb(22, 220, 0);
    text-shadow: 1px 2px rgb(22, 220, 0);
}

#contact{
    padding: 20px 0;
    background: black;
    color: white;

}

#code{
    color: green;

}

#quora{
    color:red;
}

i{
    color: blue;
}

#footer{
    background: #001942;
    color: white;
    font-size: 20px;
    padding:10px;
    padding-top: 20px;
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
   
}

.icon{
    display: none;
}

@media(max-width:1000px){
    .container{
        display: block;
    }

   #projects section img{
       width:250px;
       height: 200px;
   }

   #projects section .img{
       text-align: center;
   }

    nav{
    
        font-size: 0.6rem;
        background: linear-gradient(45deg,black,rgb(0, 0, 187));
        /*background:linear-gradient(rgb(0, 9, 26),rgb(10, 0, 150));*/
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
    }

    nav h2{
        text-align: center;
        
    }

    #about h1{

        font-size: 3rem;
        text-align: center;
        line-height: 1.5;
        padding-left: 15px;
        letter-spacing: 15px;
        margin-bottom: 20px;
    }

    #explore{
       
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #contact{
        padding:20px 0;
        background: black;
        color: white;
    
    }

    .icons{
        display:flex;
        align-items: flex-end;
        justify-content: center;
    }

    .logo {
        display: inline-block;
        padding: 0;
       
    
        
    }

    #explore img{
        width: 300px;
        height: auto;
    }

}



